$color-primary: #294C63;
$color-primary-light: #2980B9;
 
$color-gray-light: #FBFBFC;
$color-gray: #eaecee;
$color-gray-dark: rgb(195, 195, 195);

$color-white: white;

$font-family: 'Lato', sans-serif;

$color-black: #2F4858;
$color-black-light: #364c5a;

$font-xsmall: .6rem;
$font-small: .8rem;
$font-medium: 1.1rem;
$font-large: 1.6rem;
$font-xlarge: 2.4rem;
$font-xxlarge: 3.2rem;
$font-xxxlarge: 5rem;